:root {
  --blue: #80a4ed;
  --gunmetal: #212130;
  --white: #F0F7FC;
  --darkblue: #11386a;
  --vistablue: #959DE8;
  --footer: #41435ff5;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
    line-height: 1.6;
    color: var(--gunmetal);
    background-color: var(--gunmetal);
    background-image: url(TileBG.png);
    background-repeat: repeat;
    background-size: 220px;
    overflow-x: hidden;
    color: var(--white);
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px) brightness(.5);
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}
.nav-links {
    height: 80px;
    width: 100%;
}
.nav-links a, .nav-links div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    text-decoration: none;
    font-weight: 500;
    transition: .3s;
}

.nav-links > a:hover {
  filter: contrast(.6);
  background-color: var(--vistablue);
}

.logo {
  font-size: 2em;
  font-weight: bold;
}

/* Hero */
.hero {
  display: flex;
  justify-content: center;
  background-color: #000010a6;
  color: var(--white);
  padding: 100px 0;
  text-align: center;
}
.hero .container {
  width: 40%;
}
.hero h1 {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero .btn {
  background-color: white;
  color: var(--darkblue);
  padding: 10px 25px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.hero .btn:hover {
  filter: contrast(.8);
}

/* Slider sekce */
section.slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.951);
    padding: 40px 0;
    text-align: center;
}
.slider-wrapper {
  position: relative;
  width: 80%;
}

div.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  gap: 30px;
}

.slide {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--vistablue);
    color: white;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}
.photo {
  flex: 0 0 30%;
}
.slide img {
  height: 200px;
}
.slide i {
    width: 20%;
    font-size: 4em;
}
.slide div {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.slide:hover {
  transform: scale(1.025);
  filter: contrast(.8);
}

.slide h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.slide p {
  font-size: 1rem;
  text-align: start;
}

.dots {
  margin-top: 30px;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  border: 2px solid var(--vistablue);
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: var(--vistablue);
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 20px;
  font-size: 0.9rem;
  background-color: var(--footer);
}
footer .container {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
}
.footer a {
  color: #66ccff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
footer aside {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-size: 1.5em;
    text-align: left;
}
footer aside h3 {
    font-size: 2em;
}
section.contact-wrapper {
    display: flex;
    gap: 30px;
}
div.contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer iframe {
    width: 500px;
    height: 300px;
    border-radius: 1em;
    box-shadow: 0 0 10px black;
}
footer p {
    font-size: 15px;
}
b {
    font-weight: bold;
}